streamlit==1.40.1
chromadb==0.5.20
langchain_community==0.3.7
langchain_google_genai==2.0.5
langchain_chroma==0.1.4
langchain_core==0.3.19
genai==2.1.0
python-dotenv==1.0.1
altair<6,>=4.0
blinker<2,>=1.0.0
cachetools<6,>=4.0
click<9,>=7.0
numpy<3,>=1.20
packaging<25,>=20
pandas<3,>=1.4.0
pillow<12,>=7.1.0
protobuf<6,>=3.20
pyarrow>=7.0
requests<3,>=2.27
rich<14,>=10.14.0
tenacity<10,>=8.1.0
toml<2,>=0.10.1
typing-extensions<5,>=4.3.0
gitpython!=3.1.19,<4,>=3.0.7
pydeck<1,>=0.8.0b4
tornado<7,>=6.0.3
watchdog<7,>=2.1.5
build>=1.0.3
pydantic>=1.9
chroma-hnswlib==0.7.6
fastapi>=0.95.2
uvicorn[standard]>=0.18.3
posthog>=2.4.0
onnxruntime>=1.14.1
opentelemetry-api>=1.2.0
opentelemetry-exporter-otlp-proto-grpc>=1.2.0
opentelemetry-instrumentation-fastapi>=0.41b0
opentelemetry-sdk>=1.2.0
tokenizers>=0.13.2
pypika>=0.48.9
tqdm>=4.65.0
overrides>=7.3.1
importlib-resources
grpcio>=1.58.0
bcrypt>=4.0.1
typer>=0.9.0
kubernetes>=28.1.0
PyYAML>=6.0.0
